<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <%- include("nadvar") %>
    <a class="btn btn-dark mx-5 my-3" href="/posteos">volver</a>
    <h1 class="container-fluid text-center">Crear Posteo</h1>

    <div class="form-floating row col-md-6 offset-md-3">
        <form action="/posteos/crearpost" method="post" class="text-center " >
            <input type="text" class="form-control"  name="titulo" placeholder="Titulo del Posteo"> <br>
            <textarea name="contenido" class="form-control" cols="30" rows="10" placeholder="contanos un dia interesante de tu vida"></textarea> <br>
            <input type="url" class="form-control" name="url" placeholder="nos gustaria que compartas el link de una imagen">
            <button class="m-3 col-md-4 align-self-center btn btn-outline-success">crear nota</button>
        </form>
    </div>

</body>
<%- include("footer") %>
<script src="../css/bootstrap.min.js"></script>
</html>
