
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <i class="bi bi-envelope"></i>
    <div class="container-fluid">
    <div>
        <div>
            <img src="../carta.png" class="align-bottom" width="25" height="25" alt="">
            <a class="navbar-brand">Posteos de Jesus</a>
            <!-- <a class="btn btn-light" href="/crear" role="button">Crear nuevo posteo</a> -->
        </div>
    </div>
</nav>
